<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div class="views-comtainer">
      <div class="list-user">
        <h2>Detail User:</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <% user.forEach((infoUser) => { %>
            <tr>
              <td><%= infoUser.id %></td>
              <td><%= infoUser.firstName %></td>
              <td><%= infoUser.lastName %></td>
              <td><%= infoUser.email %></td>
              <td><%= infoUser.address %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
